/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

nav a {
	text-decoration: none;
	color: black;
}

nav img {
	width: 20px;
}

li:hover, li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	margin: 7% auto;
}

.filter {
	padding: 10px 30px;
	border: 1px solid #1D6154;
	border-radius: 20px;
	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;
	transition: all 0.5s;
	cursor: pointer;
}

.filter:hover {
	background-color: #1D6154;
	color: white;
}

.gallery .hidden {
	display: none;
}

.gallery .active {
	display: block;
}

#portfolio {
	margin-top: 12%;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin: auto;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 8%;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 25px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*======= LOGIN ==============*/

#login form {
	width: 35%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

#login form h1 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 2%;
}

#login label {
	text-align: left;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 7px;
}

#login input {
	height: 50px;
	padding: 0px;
	padding-left: 10px;
	border: 0px;
	box-shadow: 0px 4px 14px 0px #00000017;
}

#login button {
	margin: auto;
	margin-top: 12%;
	background-color: #1D6154;
	color: #FFFFFF;
	font-family: 'Syne';
	font-weight: 700;
	padding: 10px 40px;
	border-radius: 60px;
	width: 60%;
}

#login a {
	margin-top: 10%;
	color: #3D3D3D;
	
}

#login span {
	text-align: center;
	color: red;
	margin-top: 10px;
}

.login-page {
	margin-top: 33.5%;
}

.login-page nav li {
	font-family: 'Work Sans';
	font-weight: 300;
}

/*======== MODALE ====== */

.modifier {
	cursor: pointer;
}

#introduction figure .modifier {
	margin-left: 10%;
	margin-top: 15px;
}

#introduction article .modifier{
	margin-bottom: 15px;
}

.title {
	position: relative;
}

#portfolio .modifier {
	font-size: 14px;
	font-weight: 400;
	color: black;
	margin-left: 30px;
	position: absolute;
	top:10px;
	left: 60%
}

/*===== MODALE ======= */

.modal{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #0000004D;
	width: 100%;
	height: 530%;
	padding: 0;
}
.modal-wrap{
	width: 45%;
	aspect-ratio: 630/731;
	position: absolute;
	top: 600px;
	left: 25%;
	z-index: 2;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.modal-supp {
	width: 100%;
	aspect-ratio: 630/731;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 3%;
}

.modal .close-modal {
	margin-top: 5%;
	margin-left: 90%;
	scale: 1.5;
	cursor: pointer;
}

.modal h2 {
	font-family: 'Work Sans';
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	margin-top: 4%;
}

.modal-galery {
	margin-top: 8%;
	height: auto;
	width: 80%;
	padding-bottom: 7%;
	display: grid;
	grid-template-columns: 19% 19% 19% 19% 19%;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	border-bottom: 1px solid #B3B3B3;
}

.modal-galery figure img {
	object-fit: cover;
	width: 100%;
}

.modal-galery figcaption {
	cursor: pointer;
}

.modal-galery div {
	width: fit-content;
	position: absolute;
	background-color: #000000;
	border-radius: 5px;
	padding: 2.5px;
	aspect-ratio: 1/1;
	margin-left: 12%;
	margin-top: 0.6%;
	cursor: pointer;
}

.modal-galery div i {
	color: #FFFFFF;
	scale: 0.7;
}

.modal-wrap button {
	background-color: #1D6154;
	color: #FFFFFF;
	font-family: 'Syne';
	font-family: Syne;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border-radius: 60px;
	width: 42%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5%;
	cursor: pointer;
}

.modal-wrap p {
	font-family: Syne;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #D65353;
	margin-top: 3%;
	cursor: pointer;
}

.modal-add {
	display: none;
	flex-direction: column;
}

.modal-add .back {
	position: absolute;
	transform: translate(200%, -100%);
	cursor: pointer;
	scale: 1.3;
}

.modal-add form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 75%;
	margin: auto;
}

.form-modul {
	padding: 10%;
	border-bottom: 1px solid #B3B3B3;
}

.modal-add h2 {
	margin-bottom: 10%;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	text-align: center;

}

.modal-add form input {
	margin-bottom: 20px;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: 0px;
	padding-left: 20px;
}

.modal-add select {
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: 0px;
	margin-top: 10px;
}

.modal-add label {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
}

.modal-add .input-photo {
	background-color: #E8F1F6;
	aspect-ratio: 420/140;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
}

.modal-add .input-photo label{
	margin-top: 13%;
}

.modal-add .input-photo input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.modal-add .input-photo img {
	position: absolute;
	width: 24.5%;
	object-fit: cover;
}

.modal-wrap .label-text {
	background-color: #CBD6DC;
	width: 40%;
	margin: auto;
	margin-top: 20px;
	padding: 10px 0px;
	border-radius: 50px;
	color: #306685;
	
}

.modal-add .label-info {
	margin-bottom: 10%;
	color: #444444;
}

 .modal-add .i-label-form {
	scale: 4;
	width: auto;
	margin-left: 48.3%;
	margin-bottom: 5%;
	color: #B9C5CC;
	aspect-ratio: 58/46;
}

.modal-add button {
	background-color: #B3B3B3;
	align-self: center;
	margin-top: 8%;
	border: 0px;
}

@media screen and (max-width: 1285px) {
	.modal-galery div {
		width: fit-content;
		position: absolute;
		padding: 2.5px;
		aspect-ratio: 1/1;
		margin-left: 11.5%;
		margin-top: 0.6%;
		
	}
	
}

@media screen and (max-width: 1110px) {
	.modal-galery div {
		width: fit-content;
		position: absolute;
		padding: 2.5px;
		aspect-ratio: 1/1;
		margin-left: 11%;
		margin-top: 0.6%;
		
	}
	
}

@media screen and (max-width: 980px) {
	.modal-galery div {
		width: fit-content;
		position: absolute;
		padding: 2.5px;
		aspect-ratio: 1/1;
		margin-left: 11%;
		margin-top: 0.1%;
		scale: 0.8;
	}
	
}